<div class="col-xs-10 center-block">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <button class="center-block btn btn-info" ng-click="askQuestion = !askQuestion" >Ask a question</button>
        <form ng-submit="submitQuestion(qTitle)">
          <div class="form-group custom-form-group">
            <input class="form-control question-box" type="text" placeholder="Type your question here" ng-model="qTitle" ng-show="askQuestion">
          </div>
        </form>
      </div>
      <p>Your Questions</p>
      <div class="row">
        <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
          <question-list ng-repeat="question in questions | limitTo:(questions.length-1)"></question-list>
        </div>
      </div>
      <div class="row">
        <button class="center-block btn btn-info" ng-click="giveFeedback = !giveFeedback" >Give Feedback</button>
        <form ng-submit="submitFeedback(feedB)" ng-show="giveFeedback">
          <div class="form-group custom-form-group">
            <input class="form-control question-box" type="text" placeholder="Type your question here" ng-model="feedB">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
