<div class="col-xs-10 center-block">
  <div class="panel panel-default">
    <div class="panel-body">
      <test></test>
      <div class="row no-gutters">
        <div class="list-group col-xs-4">
          <p>Users</p>
          <user-list ng-repeat="user in userQuestions" ng-click="pickUser(user)"></user-list>
        </div>
        <div class="panel-group col-xs-8" id="accordion" role="tablist" aria-multiselectable="true" >
          <p>User Questions</p>
          <question-list ng-repeat="question in questions | limitTo:(questions.length-1)"></question-list>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Feedback</p>
          <feedback-list ng-repeat="feedback in feedbackList | limitTo:3"></feedback-list>
        </div>
      </div>
    </div>
  </div>
</div>
